@import "tailwindcss";
@import "./styles/preset.css";

@layer base {
    html {
      min-width: 320px;
    }

    body {
      background-color: var(--color-brand-bg);
      min-width: 320px;
    }
  }
